{{ define "main" }}
{{ $pages := .RegularPages }}
{{ $paginator := .Paginate $pages }}

{{ with .Title }}
<h1>{{ . }}</h1>
{{ end }}
<content>
  {{ .Content }}
  {{ if not .Data.Singular }}
  {{ end }}
  <ul class="blog-posts">
    {{ range $paginator.Pages }}
    <li>
      <div>
        <a href="{{ .Params.external | default .RelPermalink }}" {{ if .Params.external }}target="_blank" {{ end }}>{{
          .Title }}</a>
        {{ with (.GetTerms "tags") }}
        /
        {{ range . }}
        <small>
          <a href="{{ .RelPermalink }}">#{{ .Page.Title }}</a>
        </small>
        {{ end }}
        {{ end }}
        <div class="helptext">
          <span>{{ .Date.Format (default "Jan 02, 2006" .Site.Params.dateFormat) }}</span>
          <span>| {{ .Params.author | default .Site.Params.defaultAuthor | default (T "Anonymous") }}</span>
        </div>
      </div>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
</content>
<nav>
  {{ $paginator := .Paginate $pages }}
  {{ template "_internal/pagination.html" . }}
</nav>
{{ end }}