{{ define "main" }}
{{ $pages := .RegularPages }}
{{ $paginator := .Paginate $pages }}
<content>
  {{ .Content }}
  {{ if .Data.Singular }}
  <h2 style="margin-bottom:0">#{{ .Title }}</h2>
  {{ end }}
  {{ if .Data.Singular }}
  {{else}}
  {{ with where .Site.Taxonomies.tags ".Page.Section" .Section }}
  <small>
    <div><b>Tags:</b>
      {{ range . }}
      <a href="{{ .Page.RelPermalink }}">#{{ .Page.Title }}</a>&nbsp;
      {{ end }}
    </div>
  </small>
  {{ end }}
  {{ end }}
  <ul class="blog-posts">
    {{ range $paginator.Pages }}
    <li>
      <div>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <div class="helptext">
          <span>{{ .Date.Format (default "Jan 02, 2006" .Site.Params.dateFormat) }}</span>
          <span>| {{ .Params.author | default .Site.Params.defaultAuthor | default (T "Anonymous") }}</span>
        </div>

      </div>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
</content>
<nav>
  {{ $paginator := .Paginate $pages }}
  {{ template "_internal/pagination.html" . }}
</nav>
{{ end }}