{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format (default "Jan 02, 2006" .Site.Params.dateFormat) }}
  </time>
  | {{ .Params.author | default .Site.Params.defaultAuthor | default (T "Anonymous") }}
  {{ with .Params.lastmod }}
  · 整理于 <time datetime="{{ $.Lastmod.Format "2006-01-02" }}">{{ $.Lastmod.Format "2006-01-02" }}</time>
  {{ end }}
</p>
{{ end }}
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
<content>
  {{ if (not .Params.notoc) }}
  <aside>
    {{ .TableOfContents | replaceRE `</?(strong|b|em|i|mark)(\s[^>]*)?>` "" | safeHTML }}
  </aside>
  {{ end }}
  {{ .Content }}
  {{- partial "related.html" . -}}
</content>
{{- partial "page_nav.html" . -}}
{{ end }}
