{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "Jan 02, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
  <i>
    {{ with .Params.author }}
    {{ . }}
    {{ end }}
  </i>
</p>
{{ end }}
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ if (not .Params.notoc) }}
<aside>
  {{ .TableOfContents }}
</aside>
{{ end }}
<content>
  {{ .Content }}
</content>
{{ end }}