body {
    font-family: "PingFang", sans-serif;
    margin: auto;
    padding: 20px;
    max-width: $container-width;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.4;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
    color: var(--head-color);
}

strong {
    color: var(--primary-text-color);
}

a {
    color: var(--accent-text-color);
    text-decoration: none;

    main &:hover, nav &:hover {
        text-decoration: underline;
    }
}

.title {
    text-decoration: none;
    border: 0;
}

.title span {
    font-weight: 400;
}

nav a {
    margin-right: 10px;
    font-weight: 900;
    &.active {
        text-decoration: underline;
    }
}

header {
    margin-bottom: 8px;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input {
    font-size: 16px;
}

content {
    line-height: 1.8;
}

div.column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > span {
        flex: 1 1;
        max-width: 100%;
    }
}

table {
    width: 100%;
}

img {
    max-width: 100%;
}

figure {
    display: flex;
    margin: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

code {
    padding: 2px 5px;
    background-color: #f2f2f2;
}

pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
}

div.highlight pre {
    background-color: initial;
    color: initial;
}

div.highlight code {
    background-color: unset;
    color: unset;
}

blockquote {
    border-left: 1px solid #999;
    color: #222;
    margin: 12px;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px;
    text-align: center;
    * {
        vertical-align: middle;
        margin: 0 4px;
    }
    a {
        color: var(--primary-text-color);
    }
}

.helptext {
    color: #666666;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

/* blog posts */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
    margin-bottom: 12px;
    line-height: 1.4;
    a {
        font-weight: 700;
    }
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: #4e2aa2;
}

hr {
    border: 1px solid #aaa;
}

// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: #333;
//         color: #ddd;
//     }

//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6,
//     strong,
//     b {
//         color: #eee;
//     }

//     a {
//         color: #8cc2dd;
//     }

//     code {
//         background-color: #777;
//     }

//     pre code {
//         color: #ddd;
//     }

//     blockquote {
//         color: #ccc;
//     }

//     textarea,
//     input {
//         background-color: #252525;
//         color: #ddd;
//     }

//     .helptext {
//         color: #aaa;
//     }
// }
