// Container
$container-width: 600px;

// Sidenote
$sidenote-width: 240px;
$sidenote-offset: 80px;

// Colors
:root {
    --primary-color: #7fb311;
    --primary-text-color: #007d08;
    --accent-color: #1e77c4;
    --accent-text-color: #1e77c4;
    --another-text-color: #f7f191;

    --text-color: #2e2e2e;
    --head-color: #222;
}