{{- $description := .Description -}}
{{- if not $description -}}
  {{- if .IsPage -}}
    {{- $description = .Summary -}}
  {{- else -}}
    {{- $description = .Summary | default site.Params.description -}}
  {{- end -}}
{{- end -}}
{{- $description = $description | plainify | htmlUnescape | replaceRE `\s+` " " | strings.TrimSpace | truncate 160 -}}
{{- $title := .Title | default site.Title -}}
<meta name="title" content="{{ $title }}" />
<meta name="description" content="{{ $description }}" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ site.Title }}" />
<meta property="og:locale" content="zh_CN" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
{{- $schema := dict "@context" "https://schema.org" "@type" "WebPage" "name" $title "url" .Permalink "description" $description "inLanguage" "zh-CN" -}}
{{- if and .IsPage (in (slice "academic" "article" "news" "event") .Section) -}}
  {{- $schema = merge $schema (dict "@type" "Article" "headline" $title "mainEntityOfPage" .Permalink "publisher" (dict "@type" "Organization" "name" "酷儿论坛" "url" site.Home.Permalink)) -}}
  {{- with .Params.author -}}
    {{- $schema = merge $schema (dict "author" (dict "@type" "Person" "name" .)) -}}
  {{- end -}}
  {{- if not .Date.IsZero -}}
    {{- $schema = merge $schema (dict "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")) -}}
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
  {{- end -}}
  {{- if not .Lastmod.IsZero -}}
    {{- $schema = merge $schema (dict "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")) -}}
    <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
  {{- end -}}
{{- end -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
